{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">Accueil</h1>
    <div class="card">
        <div class="card-body">coucou</div>
        <button class="bg-danger" >click</button>
    </div>
{% endblock %}